<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Update voyage</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->

    <div class="container">
        <form method="POST">
            <div class="form-group input-group-lg">
                <input
                    #textbox
                    value="{{ dataone.conducteurId }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox2
                    value="{{ dataone.mat }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox3
                    value="{{ dataone.depart }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox4
                    value="{{ dataone.fin }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox5
                    value="{{ dataone.nom }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <select
                    #textbox6
                    class="form-select form-control"
                    aria-label="Default select example"
                >
                    <option selected value="Non">bagage</option>
                    <option selected value="Non">Non</option>
                    <option value="oui">oui</option>
                </select>
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox7
                    value="{{ dataone.marque }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox8
                    type="number"
                    value="{{ dataone.nbdeplace }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox9
                    type="date"
                    value="{{ dataone.date }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox10
                    type="time"
                    value="{{ dataone.heure }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox11
                    value="{{ dataone.features }}"
                    class="form-control"
                />
            </div>

            <div class="form-group input-group-lg">
                <input
                    #textbox12
                    type="number"
                    value="{{ dataone.prixvoyage }}"
                    class="form-control"
                />
            </div>

            <div class="form-group">
                <button
                    class="btn btn-warning btn-block btn-lg"
                    (click)="
                        submitForm(
                            textbox.value,
                            textbox2.value,
                            textbox3.value,
                            textbox4.value,
                            textbox5.value,
                            textbox6.value,
                            textbox7.value,
                            textbox8.value,
                            textbox9.value,
                            textbox10.value,
                            textbox11.value,
                            textbox12.value
                        )
                    "
                >
                    Update Admin
                </button>
            </div>
        </form>
    </div>

    <!-- /.card -->
</section>
<!-- /.content -->
